
svg {
    background-color: #f0f0f0;
    width: 400px;
    height: 200px;
}
.container{
    padding: auto;
    text-align: center;
}

.square {
    x: 10px;
    y: 10px;
    width: 50px;
    height: 50px;
    fill: #ff5733; /* Оранжево-красный */
    stroke: #900C3F; /* Темно-красный */
    stroke-width: 5px;
}

.rectangle {
    x: 80px;
    y: 10px;
    width: 80px;
    height: 50px;
    fill: #33ff57; /* Зеленый */
    stroke: #1D8348; /* Темно-зеленый */
    stroke-width: 5px;
}

.circle {
    cx: 200px;
    cy: 35px;
    r: 25px;
    stroke: #154360; 
    stroke-width: 5px;
    animation: colorChange 2s infinite alternate;
}

.ellipse {
    cx: 300px;
    cy: 35px;
    rx: 40px;
    ry: 25px;
    fill: #ff33a8; 
    stroke: #8B008B; 
    stroke-width: 5px;
}

@keyframes colorChange {
    0% {
        fill: #3380ff;
        stroke: #154360; 
    }
    100% {
        fill: #ffcc00; 
        stroke: #ff5733; 
    }
}